:root {
    --main: #CC8C18;
    --span: #11baf0;
    --card: #e7f8fd;
    --backgroundA: linear-gradient(rgba(255, 255, 255, 0.6), rgb(255, 255, 255));
    --mainDark: #313538;
    --text: #111827;
    --iBack: #FAF3E7;
}

[data-theme="dark"] {
    --main: #282c34;
    --card: #111827;
    --backgroundA: linear-gradient(#1d232a98, #1D232A);
    --text: #fff;
    --iBack: #f1e4cd;
}

/* .theme {
    position: fixed;
    top: 1.7rem;
    right: 1.5rem;
    z-index: 11;
}

.theme .sun, .theme .moon {
    color: var(--iBack);
} */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    backdrop-filter: blur(7px);
    display: flex;
    direction: ltr;
    font-size: 1.4rem;
    z-index: 10;
    background-color: #f1e4cd;
}

.nav {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100%;
    gap: 1rem;
    
}

.nav img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.nav .float {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
    gap: 1.2rem;
}

.nav .wallet {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .5rem;
    width: max-content;
    padding-left: .5rem;
    border-radius: 2rem;
    background-color: cadetblue;
}

.nav .wallet .w-icon {
    display: flex;
    justify-content: center;
    padding: .5rem;
    border-radius: 2rem;
    background-color: #1D232A;
}

.nav .user-dropMenu {
    position: absolute;
    top: 5rem;
    border-radius: .4rem;
    font-size: 1rem;
    width: 13rem;
    height: 0;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #111827;
}

.nav .user-dropMenu ul {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    gap: .5rem;
}

.nav .user-dropMenu li {
    width: 100%;
    padding: .4rem ;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: background .15s;
}

.nav .user-dropMenu li:hover {
    background-color: var(--span);
}

.nav .user-dropMenu hr {
    width: 70%;
    margin: auto;
    border-top: 1px solid var(--span);
    opacity: .4;
}

.nav .user-dropMenu p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .3rem .7rem;
}

.nav .user-dropMenu.active {
    height: 46.7vh;
}

.pointer {
    cursor: pointer;
}