.home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 6rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 400;
}

.home h2 {
    font-size: 3rem;
    padding: 8rem 4rem;
}

.home h3 {
    font-size: 2rem;
    padding: 3rem 3rem 3rem;
}

.home .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
    justify-content: center;
    padding-inline: 2rem;
}

.home .card-img {
    min-width: 30rem;
    overflow: hidden;
    border-radius: .7rem;
}

.home .card-content {
    display: flex;
    min-width: 20rem;
    min-height: max-content;
    margin-inline: 1.4rem;
    margin-top: -2rem;
    padding: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--card);
    color: #A6ADBB;
    border: 2px solid var(--span);
    font-size: 1rem;
    border-radius: .5rem;
    /* text-wrap: balance; */
}

.home .card-content h2 {
    padding: 0;
    font-size: 1.4rem;
    color: var(--text);
}

.home .card-content .row1 {
    display: flex;
}

.home .card-content .col1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.home .card-content .col1 h2 {
    padding: .2rem .2rem 1rem;
}

.home .card-content .col1 hr {
    border: 1px solid var(--span);
}

.home .card-content .col1 div {
    padding: .7rem 0 1.7rem;
}

.home .card-content #hr1 {
    margin-inline: 2.7rem;
    padding-bottom: .7rem;
    border-top: .1px solid #56585c69;
}

.home .card-content .isSubscribed {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    padding-right: .8rem;
}

.home .card-content .isSubscribed button {
    pointer-events: none;
    width: 7.5rem;
    height: 4.5rem;
    color: var(--span);
    border: 1px solid var(--span);
    border-radius: .4rem;
    background-color: #2fcbff2d;
}

.home .card-content .row2 {
    display: flex;
    align-items: center;
}

.home .card-content .row2 button {
    width: 7.5rem;
    height: 2rem;
    font-size: .9rem;
    border-radius: 1rem;
    border: 1px solid var(--span);
    color: var(--iBack);
    background-color: var(--span);
    transition: background .15s;
}

.home .card-content .row2 button:hover {
    background-color: transparent;
    color: var(--span);
}


.home .card-content .col2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.home #hr2 {
    width: 80%;
    border: .35rem solid var(--span);
    border-radius: .375rem;
    margin: auto;
    margin-block: 4rem 1rem;
    opacity: .3;
}

.home .to-account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.home .to-account button {
    width: 12.5rem;
    height: 6.5rem;
    border-radius: .4rem;
    border: 1px solid var(--span);
    background-color: transparent;
    color: var(--span);
    transition: background .15s;
}

.home .to-account button:hover {
    background-color: var(--span);
    color: #fff;
}

.home h1 {
    font-size: 3.5rem;
    padding: 4rem 0 8rem;
    text-align: center;
}

.home h4 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}

.home .subjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    min-height: 20rem;
    margin-inline: auto;
    border-radius: 1rem;
    padding-block: 1rem;
    background-color: var(--span);
    font-size: 1.4rem;
}

.home .subjects ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding-block: 0 .7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 12rem;
}

.home .subjects li {
    padding: .5rem 1rem;
    border-radius: 1rem;
    transition: background .15s;
}

.home .subjects li:hover {
    background-color: var(--iBack);
}

.home .subjects button {
    padding: .4rem ;
    background-color: var(--main);
}

.home #h2 {
    font-size: 4rem;
    text-align: center;
}

.home select {
    width: fit-content;
    padding: .2rem .4rem;
}

.home .teachers {
    width: 100%;
    height: 25rem;
    margin: 20rem 0 12rem;
    background-color: var(--span);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home .teachers .teacher-card {
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: aquamarine; */
}

.home .teachers .teacher-card img {
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.home .teachers .teacher-card strong {
    font-size: 1.5rem;
    font-weight: 900;
}