footer {
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    background-color: var(--span);
    transition: background .15s;
}

footer div img {
    width: 15rem;
}

footer .hotNum {
    font-size: 2rem;
    background-color: var(--iBack);
}

footer .social.midea {
    display: flex;
    gap: 2.5rem;
    font-size: 3.5rem;
}

footer p {
    padding: 2rem 2rem 0;
    text-align: center;
}

@media only screen and (max-width: 425px) {
    footer div img {
        width: 10rem;
    }
    footer .hotNum {
        font-size: 1.7rem;
    }
    footer .social.midea {
        font-size: 2.5rem;
    }
}